<header>
  <nav class="navbar navbar-expand-md navbar-dark bg-success">
    <a class="navbar-brand" href="/urls">TinyApp</a>
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarNavAltMarkup"
      aria-controls="navbarNavAltMarkup"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-item nav-link" href="/urls">My URLs</a>
        <a class="nav-item nav-link" href="/urls/new">Create New URL</a>
      </div>
    </div>
    <div>
      <style>
        .logged-in {
          display: grid;
          grid-template-columns: 3fr 1fr;
        }
        .login-form {
          display: grid;
          grid-template-columns: 1fr 1fr;
          margin: auto;
        }
        .register {
          margin: auto;
        }
      </style>
      <% if (username) { %>
      <div class="logged-in">
        <h6 style="align-self: center; margin: auto;">Welcome Back <%= username.email %>!</h6>
        <form method="POST" action="/logout">
          <button class="btn btn-danger" type="submit" value="logout">Logout</button>
        </form>
      </div>
      <% } else { %>
      <div class="login-form">
        <div class="login">
          <form method="GET" action="/login">
            <button class="btn btn-primary" type="submit" value="Login">Login</button>
          </form>
        </div>
        <div class="register">
          <form method="GET" action="/register">
            <button class="btn btn-secondary" type="submit" value="Register">Register</button>
          </form>
        </div>
      </div>
      <% } %>
    </div>
  </nav>
</header>
